galite-util/src/main/kotlin/org/kopi/galite/util/base/livesynchro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 # **********************************************************************
 # Copyright (c) 2013-2023 kopiLeft Services SARL, Tunisie
 # Copyright (c) 2018-2023 ProGmag SAS, France
 # **********************************************************************
 # All rights reserved - tous droits réservés.
 # **********************************************************************
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="ns://pdv.progmag.com/lsd"
            xmlns:tns="ns://pdv.progmag.com/lsd"
            elementFormDefault="qualified">

  <xsd:element name="evenement">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="demandeDefinitionClient" type="tns:DemandeDefinitionClient" />
        <xsd:element name="demandeSuppressionClient" type="tns:DemandeSuppressionClient" />
        <xsd:element name="demandeFusionClient" type="tns:DemandeFusionClient" />
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="DemandeDefinitionClient">
    <xsd:sequence>
      <xsd:element name="cle" type="tns:CleClient" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuClient" minOccurs="1" maxOccurs="1" />
      <xsd:element name="famille" type="tns:FamilleClient" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionClient">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleClient" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionClient">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleClient" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleClient" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionCarteFidelite">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleCarteFidelite" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuCarteFidelite" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionCarteFidelite">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleCarteFidelite" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionCarteFidelite">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleCarteFidelite" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleCarteFidelite" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionBonusFidelite">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleBonusFidelite" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuBonusFidelite" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionBonusFidelite">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleBonusFidelite" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionBonusFidelite">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleBonusFidelite" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleBonusFidelite" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionHistoriqueFidelite">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleHistoriqueFidelite" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="contenu" type="tns:ContenuHistoriqueFidelite" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionHistoriqueFidelite">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleHistoriqueFidelite" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionHistoriqueFidelite">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleHistoriqueFidelite" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="nouveau" type="tns:CleHistoriqueFidelite" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionLienCarteFidelite">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleLienCarteFidelite" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="contenu" type="tns:ContenuLienCarteFidelite" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DemandeSuppressionLienCarteFidelite">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleLienCarteFidelite" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="DemandeFusionLienCarteFidelite">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleLienCarteFidelite" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="nouveau" type="tns:CleLienCarteFidelite" minOccurs="1" maxOccurs="1"/>
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionStock">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStock" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuStock" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionStock">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStock" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionStock">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleStock" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleStock" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionEvenementsPublicitaires">
    <xsd:sequence>
      <xsd:element name="cle" type="tns:CleEvenementsPublicitaires" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuEvenementsPublicitaires" minOccurs="1" maxOccurs="1" />
      <xsd:element name="articlesEvenement" type="tns:EvenementsPublicitairesArticles" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionEvenementsPublicitaires">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleEvenementsPublicitaires" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionCloture">
    <xsd:sequence>
      <xsd:element name="cle" type="tns:CleCloture" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuCloture" minOccurs="1" maxOccurs="1" />
      <xsd:element name="detail" type="tns:DetailCloture" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionCloture">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleCloture" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionInventaire">
    <xsd:sequence>
      <xsd:element name="cle" type="tns:CleInventaire" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuInventaire" minOccurs="1" maxOccurs="1" />
      <xsd:element name="details" type="tns:DetailInventaire" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionInventaire">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleInventaire" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionInventaire">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleInventaire" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleInventaire" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="CleClient">
    <xsd:attribute name="client" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuClient">
    <xsd:attribute name="nom" type="xsd:string" use="optional"/>
    <xsd:attribute name="depot_bs" type="xsd:string" use="optional"/>
    <xsd:attribute name="docmultietb" type="xsd:string" use="optional"/>
    <xsd:attribute name="etablissement_bs" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr_code" type="xsd:string" use="optional"/>
    <xsd:attribute name="code_pays" type="xsd:string" use="optional"/>
    <xsd:attribute name="fam_cli" type="xsd:string" use="optional"/>
    <xsd:attribute name="tva_intra" type="xsd:string" use="optional"/>
    <xsd:attribute name="interdit" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="modereg_bs" type="xsd:string" use="optional"/>
    <xsd:attribute name="cond_regl" type="xsd:string" use="optional"/>
    <xsd:attribute name="langue" type="xsd:string" use="optional"/>
    <xsd:attribute name="devise" type="xsd:string" use="optional"/>
    <xsd:attribute name="facturation_bl" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_facturation" type="xsd:string" use="optional"/>
    <xsd:attribute name="releve" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="encours" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="encours_maxi" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remise_seuil" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remise_ligne" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remise_pied" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remise_ca" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="date_creation" type="xsd:date" use="optional"/>
    <xsd:attribute name="vendeur" type="xsd:string" use="optional"/>
    <xsd:attribute name="type_comm" type="xsd:string" use="optional"/>
    <xsd:attribute name="taux_comm" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="compte_gen" type="xsd:string" use="optional"/>
    <xsd:attribute name="compte_aux" type="xsd:string" use="optional"/>
    <xsd:attribute name="code_banque" type="xsd:string" use="optional"/>
    <xsd:attribute name="code_rib" type="xsd:string" use="optional"/>
    <xsd:attribute name="rib_banque" type="xsd:string" use="optional"/>
    <xsd:attribute name="rib_guichet" type="xsd:string" use="optional"/>
    <xsd:attribute name="rib_compte" type="xsd:string" use="optional"/>
    <xsd:attribute name="rib_cle" type="xsd:string" use="optional"/>
    <xsd:attribute name="date_modification" type="xsd:date" use="optional"/>
    <xsd:attribute name="heure_modification" type="xsd:time" use="optional"/>
    <xsd:attribute name="caissier" type="xsd:string" use="optional"/>
    <xsd:attribute name="type_modif" type="xsd:string" use="optional"/>
    <xsd:attribute name="derdoc_doc" type="xsd:string" use="optional"/>
    <xsd:attribute name="derdoc_date" type="xsd:date" use="optional"/>
    <xsd:attribute name="derdoc_mon" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="derdoc_type" type="xsd:string" use="optional"/>
    <xsd:attribute name="cumul_ca_n" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="cumul_ca_nm1" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="cumul_ma_n" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="cumul_ma_nm1" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="excleunik" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="ibcleunik" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="memotexte" type="xsd:string" use="optional"/>
    <xsd:attribute name="web_code" type="xsd:string" use="optional"/>
    <xsd:attribute name="web_operations" type="xsd:string" use="optional"/>
    <xsd:attribute name="web_mdp" type="xsd:string" use="optional"/>
    <xsd:attribute name="web_derdoc_doc" type="xsd:string" use="optional"/>
    <xsd:attribute name="web_derdoc_date" type="xsd:date" use="optional"/>
    <xsd:attribute name="tarif_client_1" type="xsd:string" use="optional"/>
    <xsd:attribute name="tarif_client_2" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_1" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_2" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_3" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_4" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_5" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_6" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_7" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_8" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_9" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_10" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_11" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_12" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_13" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_14" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_15" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_16" type="xsd:string" use="optional"/>
    <xsd:attribute name="client_local" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="remise_seuil_type" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_export" type="xsd:string" use="optional"/>
    <xsd:attribute name="nb_ex_edi_fac" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="cumul_ca_nm2" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="cumul_ma_nm2" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="def_mode_saisie" type="xsd:string" use="optional"/>
    <xsd:attribute name="site_web" type="xsd:string" use="optional"/>
    <xsd:attribute name="gestion_agios" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="alerte_memo" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="segmentation" type="xsd:string" use="optional"/>
    <xsd:attribute name="email" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr_type" type="xsd:string" use="optional"/>
    <xsd:attribute name="web_id" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="iban" type="xsd:string" use="optional"/>
    <xsd:attribute name="bic" type="xsd:string" use="optional"/>
    <xsd:attribute name="phyto_controle" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="phyto_agrement" type="xsd:string" use="optional"/>
    <xsd:attribute name="phyto_validite_date" type="xsd:date" use="optional"/>
    <xsd:attribute name="siret" type="xsd:string" use="optional"/>
    <xsd:attribute name="professionnel" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="airsi_secteur_informel" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>

  <xsd:complexType name="FamilleClient">
    <xsd:attribute name="famille" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="CleCarteFidelite">
    <xsd:attribute name="fid_carte" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuCarteFidelite">
    <xsd:attribute name="depot_bs" type="xsd:string" use="required"/>
    <xsd:attribute name="client" type="xsd:string" use="required"/>
    <xsd:attribute name="fid_debut" type="xsd:date" use="optional"/>
    <xsd:attribute name="fid_fin" type="xsd:date" use="optional"/>
    <xsd:attribute name="fid_dern_operation" type="xsd:date" use="optional"/>
    <xsd:attribute name="fid_txrem_acquise" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="fid_txrem_validite" type="xsd:date" use="optional"/>
    <xsd:attribute name="fid_txrem_edition" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="caissier_creation" type="xsd:string" use="optional"/>
    <xsd:attribute name="fid_points" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="fid_cagnotte" type="xsd:decimal" use="optional" default="0"/>
    <xsd:attribute name="fid_valrem_acquis" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="fid_valrem_validite" type="xsd:date" use="optional"/>
    <xsd:attribute name="fid_valrem_edition" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="genre" type="xsd:string" use="optional"/>
    <xsd:attribute name="nom" type="xsd:string" use="optional"/>
    <xsd:attribute name="prenom" type="xsd:string" use="optional"/>
    <xsd:attribute name="anniversaire" type="xsd:date" use="optional"/>
    <xsd:attribute name="adr1" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr2" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr3" type="xsd:string" use="optional"/>
    <xsd:attribute name="codepost" type="xsd:string" use="optional"/>
    <xsd:attribute name="ville" type="xsd:string" use="optional"/>
    <xsd:attribute name="email" type="xsd:string" use="optional"/>
    <xsd:attribute name="fid_mdp" type="xsd:string" use="optional"/>
    <xsd:attribute name="der_bonus_anniversaire" type="xsd:date" use="optional"/>
    <xsd:attribute name="his_dervtes" type="xsd:string" use="optional"/>
    <xsd:attribute name="date_modification" type="xsd:date" use="optional"/>
    <xsd:attribute name="heure_modification" type="xsd:time" use="optional"/>
    <xsd:attribute name="zp_alpha_1" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_2" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_3" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_4" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_5" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_6" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_7" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_8" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_9" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_10" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_11" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_12" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_13" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_14" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_15" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_16" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_num_1" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_2" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_3" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_4" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_5" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_6" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_7" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_8" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_9" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_10" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_alpha_17" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_18" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_19" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_20" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_int_1" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_2" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_3" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_4" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_5" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_6" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_7" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_8" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_9" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_10" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_11" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_12" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_13" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_14" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_15" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_16" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_17" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_18" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_19" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_int_20" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="zp_memo" type="xsd:string" use="optional"/>
    <xsd:attribute name="fid_nb_vtes" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="mode_fidelite" type="xsd:string" use="optional"/>
    <xsd:attribute name="solde_points_ini" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="solde_passages_ini" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="export_gc_ext" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="tel" type="xsd:string" use="optional"/>
    <xsd:attribute name="fax" type="xsd:string" use="optional"/>
    <xsd:attribute name="portable" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr_voienum" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr_voiebtqc" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr_voietype" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr_voienom" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr_comp" type="xsd:string" use="optional"/>
    <xsd:attribute name="npai" type="xsd:boolean" use="optional" default="false"/>
    <xsd:attribute name="ack_alld8h8" type="xsd:string" use="optional"/>
    <xsd:attribute name="caisse_creation" type="xsd:string" use="optional"/>
    <xsd:attribute name="code_pays" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_num_11" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_12" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_13" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_14" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_15" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_16" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_17" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_18" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_19" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="zp_num_20" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="perte_question_type" type="xsd:string" use="optional"/>
    <xsd:attribute name="perte_reponse" type="xsd:string" use="optional"/>
    <xsd:attribute name="date_creation" type="xsd:date" use="optional"/>
    <xsd:attribute name="num_dossier" type="xsd:string" use="optional"/>
    <xsd:attribute name="action_web" type="xsd:int" use="optional" default="0"/>
    <xsd:attribute name="envoi_par_email" type="xsd:boolean" use="optional" default="false"/>
  </xsd:complexType>

  <xsd:complexType name="CleBonusFidelite">
    <xsd:attribute name="document" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuBonusFidelite">
    <xsd:attribute name="depot_creation" type="xsd:string" use="required"/>
    <xsd:attribute name="fid_carte" type="xsd:string" use="required"/>
    <xsd:attribute name="date_debut" type="xsd:date" use="optional"/>
    <xsd:attribute name="date_fin" type="xsd:date" use="optional"/>
    <xsd:attribute name="statut" type="xsd:string" use="required"/>
    <xsd:attribute name="id8_fid_hist" type="xsd:string" use="required"/>
    <xsd:attribute name="depot_modification" type="xsd:string" use="required"/>
    <xsd:attribute name="date_modification" type="xsd:date" use="optional"/>
    <xsd:attribute name="heure_modification" type="xsd:time" use="optional"/>
    <xsd:attribute name="fid_points" type="xsd:decimal" use="required"/>
    <xsd:attribute name="fid_passages" type="xsd:int" use="required"/>
    <xsd:attribute name="val_ou_taux" type="xsd:decimal" use="required"/>
    <xsd:attribute name="type" type="xsd:string" use="required"/>
    <xsd:attribute name="zp_alpha_1" type="xsd:string" use="required"/>
    <xsd:attribute name="zp_alpha_2" type="xsd:string" use="required"/>
    <xsd:attribute name="zp_alpha_3" type="xsd:string" use="required"/>
    <xsd:attribute name="doc_utilisation" type="xsd:string" use="required"/>
    <xsd:attribute name="doc_type_utilisation" type="xsd:string" use="required"/>
    <xsd:attribute name="caisse" type="xsd:string" use="required"/>
    <xsd:attribute name="caissier" type="xsd:string" use="required"/>
    <xsd:attribute name="client" type="xsd:string" use="required"/>
    <xsd:attribute name="ack_alld8h8" type="xsd:string" use="required"/>
    <xsd:attribute name="date_creation" type="xsd:date" use="optional"/>
    <xsd:attribute name="date_conso" type="xsd:date" use="optional"/>
    <xsd:attribute name="mt_conso" type="xsd:decimal" use="required"/>
    <xsd:attribute name="doc_conso_type" type="xsd:string" use="required"/>
    <xsd:attribute name="doc_conso_doc" type="xsd:string" use="required"/>
    <xsd:attribute name="doc_web" type="xsd:string" use="required"/>
    <xsd:attribute name="export_gc_ext" type="xsd:boolean" use="required"/>
    <xsd:attribute name="gencode" type="xsd:string" use="required"/>
    <xsd:attribute name="seuil_mini" type="xsd:decimal" use="required"/>
    <xsd:attribute name="doc_src_type" type="xsd:string" use="required"/>
    <xsd:attribute name="doc_src_doc" type="xsd:string" use="required"/>
    <xsd:attribute name="action_web" type="xsd:int" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="CleHistoriqueFidelite">
    <xsd:attribute name="depot_bs" type="xsd:string" use="required"/>
    <xsd:attribute name="id8_fid_hist" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuHistoriqueFidelite">
    <xsd:attribute name="client" type="xsd:string" use="optional"/>
    <xsd:attribute name="date_doc" type="xsd:date" use="optional"/>
    <xsd:attribute name="fid_points" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="fid_cagnotte" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="fid_operation" type="xsd:string" use="optional"/>
    <xsd:attribute name="date_modification" type="xsd:date" use="optional"/>
    <xsd:attribute name="heure_modification" type="xsd:time" use="optional"/>
    <xsd:attribute name="fid_carte" type="xsd:string" use="optional"/>
    <xsd:attribute name="fid_passages" type="xsd:int" use="optional"/>
    <xsd:attribute name="ack_alld8h8" type="xsd:string" use="optional"/>
    <xsd:attribute name="action_web" type="xsd:int" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="CleLienCarteFidelite">
    <xsd:attribute name="fid_carte_secondaire" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuLienCarteFidelite">
    <xsd:attribute name="fid_carte" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="CleStock">
    <xsd:attribute name="article" type="xsd:string" use="required"/>
    <xsd:attribute name="depot_bs" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuStock">
    <xsd:attribute name="stock_mag" type="xsd:decimal" use="optional" default="0"/>
    <xsd:attribute name="en_commande" type="xsd:decimal" use="optional" default="0"/>
    <xsd:attribute name="reserves" type="xsd:decimal" use="optional" default="0"/>
    <xsd:attribute name="stock_vir" type="xsd:decimal" use="optional" default="0"/>
    <xsd:attribute name="date_modification" type="xsd:date" use="optional"/>
    <xsd:attribute name="heure_modification" type="xsd:time" use="optional"/>
    <xsd:attribute name="qte_reappro" type="xsd:decimal" use="optional" default="0"/>
    <xsd:attribute name="d8h4_dernier_inventaire" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionFournisseur">
    <xsd:sequence>
      <xsd:element name="cle" type="tns:CleFournisseur" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuFournisseur" minOccurs="1" maxOccurs="1" />
      <xsd:element name="conditions" type="tns:ConditionFournisseur" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionFournisseur">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleFournisseur" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionFournisseur">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleFournisseur" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleFournisseur" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="CleFournisseur">
    <xsd:attribute name="fournisseur" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuFournisseur">
    <xsd:attribute name="nom" type="xsd:string" use="optional"/>
    <xsd:attribute name="fam_fou" type="xsd:string" use="optional"/>
    <xsd:attribute name="devise" type="xsd:string" use="optional"/>
    <xsd:attribute name="tva_intra" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr_code" type="xsd:string" use="optional"/>
    <xsd:attribute name="compte_gen" type="xsd:string" use="optional"/>
    <xsd:attribute name="compte_aux" type="xsd:string" use="optional"/>
    <xsd:attribute name="modereg_bs" type="xsd:string" use="optional"/>
    <xsd:attribute name="regime_tva" type="xsd:string" use="optional"/>
    <xsd:attribute name="langue" type="xsd:string" use="optional"/>
    <xsd:attribute name="taux_escompte" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="franco_port" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="cumul_ca_n" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="cumul_ca_nm1" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="encours" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="encours_maxi" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="tarif_fournisseur" type="xsd:string" use="optional"/>
    <xsd:attribute name="condition_four" type="xsd:string" use="optional"/>
    <xsd:attribute name="remise_ligne" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remise_pied" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remise_ca" type="xsd:int" use="optional"/>
    <xsd:attribute name="interdit" type="xsd:int" use="optional"/>
    <xsd:attribute name="derdoc_doc" type="xsd:string" use="optional"/>
    <xsd:attribute name="derdoc_date" type="xsd:date" use="optional"/>
    <xsd:attribute name="derdoc_mon" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="derdoc_type" type="xsd:string" use="optional"/>
    <xsd:attribute name="date_creation" type="xsd:date" use="optional"/>
    <xsd:attribute name="date_modification" type="xsd:date" use="optional"/>
    <xsd:attribute name="heure_modification" type="xsd:time" use="optional"/>
    <xsd:attribute name="caissier" type="xsd:string" use="optional"/>
    <xsd:attribute name="ibcleunik" type="xsd:int" use="optional"/>
    <xsd:attribute name="memotexte" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_1" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_2" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_3" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_4" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_5" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_6" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_7" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_8" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_9" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_10" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_11" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_12" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_13" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_14" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_15" type="xsd:string" use="optional"/>
    <xsd:attribute name="zp_alpha_16" type="xsd:string" use="optional"/>
    <xsd:attribute name="reliquats" type="xsd:string" use="optional"/>
    <xsd:attribute name="brou_art_non_rel" type="xsd:string" use="optional"/>
    <xsd:attribute name="delai_livraison" type="xsd:int" use="optional"/>
    <xsd:attribute name="cumul_ca_nm2" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="mode_import" type="xsd:string" use="optional"/>
    <xsd:attribute name="site_web" type="xsd:string" use="optional"/>
    <xsd:attribute name="web_code" type="xsd:string" use="optional"/>
    <xsd:attribute name="web_id" type="xsd:int" use="optional"/>
    <xsd:attribute name="web_mdp" type="xsd:string" use="optional"/>
    <xsd:attribute name="ftp_privatekey" type="xsd:string" use="optional"/>
    <xsd:attribute name="ftp_passkey" type="xsd:string" use="optional"/>
    <xsd:attribute name="adr_type" type="xsd:string" use="optional"/>
    <xsd:attribute name="ftp_hote" type="xsd:string" use="optional"/>
    <xsd:attribute name="ftp_login" type="xsd:string" use="optional"/>
    <xsd:attribute name="ftp_mdp" type="xsd:string" use="optional"/>
    <xsd:attribute name="ftp_port" type="xsd:int" use="optional"/>
    <xsd:attribute name="ftp_type" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="ftp_rep_commande" type="xsd:string" use="optional"/>
    <xsd:attribute name="ftp_rep_livraison" type="xsd:string" use="optional"/>
    <xsd:attribute name="mod_export" type="xsd:string" use="optional"/>
    <xsd:attribute name="mod_import" type="xsd:string" use="optional"/>
    <xsd:attribute name="rem_prixcatalogue" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="iban" type="xsd:string" use="optional"/>
    <xsd:attribute name="bic" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="ConditionFournisseur">
    <xsd:attribute name="condition_four" type="xsd:string" use="optional"/>
    <xsd:attribute name="libelle" type="xsd:string" use="optional"/>
    <xsd:attribute name="prix_source" type="xsd:string" use="optional"/>
    <xsd:attribute name="prix_final" type="xsd:string" use="optional"/>
    <xsd:attribute name="date_modification" type="xsd:date" use="optional"/>
    <xsd:attribute name="caissier" type="xsd:string" use="optional"/>
    <xsd:attribute name="taux_ou_montant_1" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="taux_ou_montant_2" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="taux_ou_montant_3" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="taux_ou_montant_4" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="taux_ou_montant_5" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="taux_ou_montant_6" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="taux_ou_montant_7" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="taux_ou_montant_8" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="taux_ou_montant_9" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="taux_ou_montant_10" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="mode_application_1" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_application_2" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_application_3" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_application_4" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_application_5" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_application_6" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_application_7" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_application_8" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_application_9" type="xsd:string" use="optional"/>
    <xsd:attribute name="mode_application_10" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_1" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_2" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_3" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_4" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_5" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_6" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_7" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_8" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_9" type="xsd:string" use="optional"/>
    <xsd:attribute name="lib_remise_10" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="CleCloture">
    <xsd:attribute name="eccleunik" type="xsd:int" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuCloture">
    <xsd:attribute name="journee" type="xsd:date" use="optional"/>
    <xsd:attribute name="date_doc" type="xsd:date" use="optional"/>
    <xsd:attribute name="caisse" type="xsd:string" use="optional"/>
    <xsd:attribute name="heure" type="xsd:string" use="optional"/>
    <xsd:attribute name="depot_bs" type="xsd:string" use="optional"/>
    <xsd:attribute name="caissier" type="xsd:string" use="optional"/>
    <xsd:attribute name="cleunik_depot_distant" type="xsd:int" use="optional"/>
    <xsd:attribute name="caissier_nom" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="DetailCloture">
    <xsd:attribute name="ligne" type="xsd:int" use="optional"/>
    <xsd:attribute name="designation" type="xsd:string" use="optional"/>
    <xsd:attribute name="attr_champ" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionFormatTicket">
    <xsd:sequence>
      <xsd:element name="cle" type="tns:CleFormatTicket" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuFormatTicket" minOccurs="1" maxOccurs="1" />
      <xsd:element name="details" type="tns:DetailFormatTicket" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionFormatTicket">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleFormatTicket" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionFormatTicket">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleFormatTicket" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleFormatTicket" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="CleFormatTicket">
    <xsd:attribute name="ftcleunik" type="xsd:int" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuFormatTicket">
    <xsd:attribute name="nom" type="xsd:string" use="optional"/>
    <xsd:attribute name="frm_type" type="xsd:string" use="optional"/>
    <xsd:attribute name="typ_imp" type="xsd:int" use="optional"/>
    <xsd:attribute name="largeur" type="xsd:int" use="optional"/>
    <xsd:attribute name="longueur" type="xsd:int" use="optional"/>
    <xsd:attribute name="duplicata" type="xsd:int" use="optional"/>
    <xsd:attribute name="logo_imp" type="xsd:int" use="optional"/>
    <xsd:attribute name="logo_fic" type="xsd:string" use="optional"/>
    <xsd:attribute name="logo_seuil" type="xsd:int" use="optional"/>
    <xsd:attribute name="tri_detail" type="xsd:string" use="optional"/>
    <xsd:attribute name="ok_nf525" type="xsd:boolean" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="DetailFormatTicket">
    <xsd:attribute name="fdcleunik" type="xsd:int" use="required"/>
    <xsd:attribute name="ft_source" type="xsd:string" use="optional"/>
    <xsd:attribute name="ft_x" type="xsd:int" use="optional"/>
    <xsd:attribute name="ft_y" type="xsd:int" use="optional"/>
    <xsd:attribute name="largeur" type="xsd:int" use="optional"/>
    <xsd:attribute name="ft_dec" type="xsd:int" use="optional"/>
    <xsd:attribute name="ft_libre" type="xsd:string" use="optional"/>
    <xsd:attribute name="attr_champ" type="xsd:string" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="CleEvenementsPublicitaires">
    <xsd:attribute name="evenement" type="xsd:string" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuEvenementsPublicitaires">
    <xsd:attribute name="pucleunik" type="xsd:int" use="optional"/>
    <xsd:attribute name="libelle" type="xsd:string" use="optional"/>
    <xsd:attribute name="date_debut" type="xsd:date" use="optional"/>
    <xsd:attribute name="date_fin" type="xsd:date" use="optional"/>
    <xsd:attribute name="complement" type="xsd:string" use="optional"/>
    <xsd:attribute name="depot_bs" type="xsd:string" use="optional"/>
    <xsd:attribute name="applique" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="date_application" type="xsd:date" use="optional"/>
    <xsd:attribute name="periode_etude" type="xsd:string" use="optional"/>
    <xsd:attribute name="dateheurerecup" type="xsd:dateTime" use="optional"/>
    <xsd:attribute name="cli_grp_type" type="xsd:string" use="optional"/>
    <xsd:attribute name="cli_grp" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="EvenementsPublicitairesArticles">
    <xsd:attribute name="article" type="xsd:string" use="optional"/>
    <xsd:attribute name="montant_dp" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="paht_base" type="xsd:decimal" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionStatistiqueVenteClientMois">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStatistiqueVenteClientMois" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuStatistiqueVenteClientMois" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionStatistiqueVenteClientMois">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStatistiqueVenteClientMois" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionStatistiqueVenteClientMois">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleStatistiqueVenteClientMois" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleStatistiqueVenteClientMois" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="CleStatistiqueVenteClientMois">
    <xsd:attribute name="depot_bs" type="xsd:string" use="required"/>
    <xsd:attribute name="anneemois" type="xsd:date" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="StatistiqueVenteClient">
    <xsd:attribute name="caht" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="cattc" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remht" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remttc" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="marge" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="cumulpaht" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="nblignes" type="xsd:int" use="optional"/>
    <xsd:attribute name="passages" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="carte" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="actif" type="xsd:boolean" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuStatistiqueVenteClientMois">
    <xsd:sequence>
      <xsd:element name="mois01" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois02" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois03" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois04" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois05" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois06" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois07" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois08" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois09" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois10" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois11" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois12" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois13" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois14" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois15" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois16" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois17" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois18" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois19" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois20" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois21" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois22" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois23" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois24" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois25" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois26" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois27" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois28" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois29" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois30" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois31" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="client" type="xsd:string" use="optional"/>
    <xsd:attribute name="fam_cli" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionStatistiqueVenteClientSemaine">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStatistiqueVenteClientSemaine" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuStatistiqueVenteClientSemaine" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionStatistiqueVenteClientSemaine">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStatistiqueVenteClientSemaine" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionStatistiqueVenteClientSemaine">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleStatistiqueVenteClientSemaine" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleStatistiqueVenteClientSemaine" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="CleStatistiqueVenteClientSemaine">
    <xsd:attribute name="depot_bs" type="xsd:string" use="required"/>
    <xsd:attribute name="annee" type="xsd:date" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuStatistiqueVenteClientSemaine">
    <xsd:sequence>
      <xsd:element name="semaine01" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine02" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine03" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine04" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine05" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine06" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine07" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine08" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine09" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine10" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine11" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine12" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine13" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine14" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine15" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine16" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine17" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine18" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine19" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine20" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine21" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine22" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine23" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine24" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine25" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine26" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine27" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine28" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine29" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine30" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine31" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine32" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine33" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine34" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine35" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine36" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine37" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine38" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine39" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine40" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine41" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine42" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine43" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine44" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine45" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine46" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine47" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine48" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine49" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine50" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine51" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine52" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine53" type="tns:StatistiqueVenteClient" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="client" type="xsd:string" use="optional"/>
    <xsd:attribute name="fam_cli" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionStatistiqueMois">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStatistiqueMois" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuStatistiqueMois" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionStatistiqueMois">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStatistiqueMois" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionStatistiqueMois">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleStatistiqueMois" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleStatistiqueMois" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="CleStatistiqueMois">
    <xsd:attribute name="depot_bs" type="xsd:string" use="required"/>
    <xsd:attribute name="anneemois" type="xsd:date" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="StatistiqueMois">
    <xsd:attribute name="stock_thq" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="stock_cmd" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="stock_res" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="paht_base" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="dpa" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="pamp" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="dpr" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="prmp" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="pvht" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="pvtc" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="flag" type="xsd:int" use="optional"/>
    <xsd:attribute name="pvht_local" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="pvtc_local" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="pvmp" type="xsd:decimal" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuStatistiqueMois">
    <xsd:sequence>
      <xsd:element name="mois01" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois02" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois03" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois04" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois05" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois06" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois07" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois08" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois09" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois10" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois11" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois12" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois13" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois14" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois15" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois16" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois17" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois18" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois19" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois20" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois21" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois22" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois23" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois24" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois25" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois26" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois27" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois28" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois29" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois30" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mois31" type="tns:StatistiqueMois" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="article" type="xsd:string" use="optional"/>
    <xsd:attribute name="flag_sum_st" type="xsd:int" use="optional"/>
    <xsd:attribute name="flag_sum_px" type="xsd:int" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="DemandeDefinitionStatistiqueVenteSemaine">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStatistiqueVenteSemaine" minOccurs="1" maxOccurs="1" />
      <xsd:element name="contenu" type="tns:ContenuStatistiqueVenteSemaine" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeSuppressionStatistiqueVenteSemaine">
    <xsd:all>
      <xsd:element name="cle" type="tns:CleStatistiqueVenteSemaine" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="DemandeFusionStatistiqueVenteSemaine">
    <xsd:all>
      <xsd:element name="ancien" type="tns:CleStatistiqueVenteSemaine" minOccurs="1" maxOccurs="1" />
      <xsd:element name="nouveau" type="tns:CleStatistiqueVenteSemaine" minOccurs="1" maxOccurs="1" />
    </xsd:all>
  </xsd:complexType>

  <xsd:complexType name="CleStatistiqueVenteSemaine">
    <xsd:attribute name="depot_bs" type="xsd:string" use="required"/>
    <xsd:attribute name="annee" type="xsd:date" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="StatistiqueVenteSemaine">
    <xsd:attribute name="paht" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="caht" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="cattc" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remht" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="remttc" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="nblignes" type="xsd:int" use="optional"/>
    <xsd:attribute name="qte" type="xsd:decimal" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuStatistiqueVenteSemaine">
    <xsd:sequence>
      <xsd:element name="semaine01" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine02" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine03" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine04" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine05" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine06" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine07" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine08" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine09" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine10" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine11" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine12" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine13" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine14" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine15" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine16" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine17" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine18" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine19" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine20" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine21" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine22" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine23" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine24" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine25" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine26" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine27" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine28" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine29" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine30" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine31" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine32" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine33" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine34" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine35" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine36" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine37" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine38" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine39" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine40" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine41" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine42" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine43" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine44" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine45" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine46" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine47" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine48" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine49" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine50" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine51" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine52" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
      <xsd:element name="semaine53" type="tns:StatistiqueVenteSemaine" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
    <xsd:attribute name="documenttype" type="xsd:string" use="optional"/>
    <xsd:attribute name="rayon" type="xsd:string" use="optional"/>
    <xsd:attribute name="srayon" type="xsd:string" use="optional"/>
    <xsd:attribute name="fam_art" type="xsd:string" use="optional"/>
    <xsd:attribute name="sfam_art" type="xsd:string" use="optional"/>
    <xsd:attribute name="article" type="xsd:string" use="optional"/>
    <xsd:attribute name="niveau5_code" type="xsd:string" use="optional"/>
    <xsd:attribute name="niveau6_code" type="xsd:string" use="optional"/>
    <xsd:attribute name="niveau7_code" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="CleInventaire">
    <xsd:attribute name="ilcleunik" type="xsd:int" use="required"/>
  </xsd:complexType>

  <xsd:complexType name="ContenuInventaire">
    <xsd:attribute name="designation" type="xsd:string" use="optional"/>
    <xsd:attribute name="depot_bs" type="xsd:string" use="optional"/>
    <xsd:attribute name="devise" type="xsd:string" use="optional"/>
    <xsd:attribute name="nature_prix" type="xsd:string" use="optional"/>
    <xsd:attribute name="date_valeur" type="xsd:date" use="optional"/>
    <xsd:attribute name="heure_valeur" type="xsd:string" use="optional"/>
    <xsd:attribute name="caissier_creation" type="xsd:string" use="optional"/>
    <xsd:attribute name="valid_date" type="xsd:date" use="optional"/>
    <xsd:attribute name="valid_heure" type="xsd:string" use="optional"/>
    <xsd:attribute name="valid_caissier" type="xsd:string" use="optional"/>
    <xsd:attribute name="valid_mode" type="xsd:string" use="optional"/>
    <xsd:attribute name="options_inventaire" type="xsd:string" use="optional"/>
    <xsd:attribute name="id6_du_depot" type="xsd:string" use="optional"/>
    <xsd:attribute name="depot_creation" type="xsd:string" use="optional"/>
    <xsd:attribute name="version" type="xsd:int" use="optional"/>
    <xsd:attribute name="date_modification" type="xsd:date" use="optional"/>
    <xsd:attribute name="export_gc_ext" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="date_creation" type="xsd:date" use="optional"/>
    <xsd:attribute name="heure_creation" type="xsd:time" use="optional"/>
    <xsd:attribute name="heure_modification" type="xsd:time" use="optional"/>
    <xsd:attribute name="caissier_modification" type="xsd:string" use="optional"/>
    <xsd:attribute name="modele" type="xsd:string" use="optional"/>
    <xsd:attribute name="options_modifiables" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="options_sessions" type="xsd:string" use="optional"/>
    <xsd:attribute name="anc_stock_mag_ok" type="xsd:boolean" use="optional"/>
    <xsd:attribute name="type_inventaire" type="xsd:string" use="optional"/>
  </xsd:complexType>

  <xsd:complexType name="DetailInventaire">
    <xsd:attribute name="article" type="xsd:string" use="optional"/>
    <xsd:attribute name="paht_base" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="paht_cout" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="paht_der" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="prht_der" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="pamp" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="pvmp" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="pvht" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="pvtc" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="anc_qte" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="nou_qte" type="xsd:decimal" use="optional"/>
    <xsd:attribute name="saisie" type="xsd:string" use="optional"/>
    <xsd:attribute name="prmp" type="xsd:decimal" use="optional"/>
  </xsd:complexType>
</xsd:schema>
